<div id="navigation">
    <div id="title"><i>$</i> sharing</div>
    <a
        id="nav_toggle"
        href="#"
        data-bind="
            event: { click: toggleObservable.bind(null, menuVisible) }
        ">
        <span id="nav_toggle_text">
            <i>$</i> sharing
        </span>
        <span id="nav_toggle_icon_parent">
            <i id="nav_toggle_icon" class="icon-menu"></i>
        </span>
        <span class="clearfix"></span>
    </a>
    <span id="main_menu" class="menu_collapsed" data-bind="css: { menu_collapsed: menuVisible }">
        <% tabs.forEach(function(tab) { %>
            <a
                id="<%= tab %>_tab"
                class="tab"
                href="#<%= tab %>"
                data-bind="
                    css: { selected: currentTab() === '<%= tab %>' },
                    event: { click: currentTab.bind(null, '<%= tab %>') }
                "><%= tab %></a>
        <% }); %>
    </span>
    <span class="clearfix"></span>
</div>
