<!DOCTYPE html>
<html>
    <head>
        <%- include _head.ejs %>
    </head>
    <body>
        <%- include _navigation.ejs %>
        <div id="column_container">
            <%- include _debts.ejs %>
            <%- include _expenses.ejs %>
            <%- include _payments.ejs %>
        </div>
    </body>
</html>
